<!DOCTYPE html>
<html>
    <head>
        <title>I come from template!!</title>
        <style>
            body {
                background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
        {% comment %} https://tonyatta.pixnet.net/blog/post/21617901 {% endcomment %}
        <meta http-equiv="refresh" content="0.75" />
    </head>
    <body>
        <h1>Hello World!</h1>
        <em>{{ current_time }}</em>
    </body>
</html>